@charset "UTF-8";
body {background-color: rgb(219, 214, 214);}

div#interface {
    width: 940px;
    background-color: white;
    margin: -20px auto 10px auto;
    box-shadow: 1px 1px 4px black;
    padding: 10px;
}

p {text-align: justify;}

header#cabecalho
img#icone {
    position: absolute;
    left: 970px;
    top: 80px;
}

header#cabecalho {
    border-bottom: 2px slategrey solid;
    height: 150px;
    background: url(../_imagens/glass-logo-peq.jpg) no-repeat 0px 100px;
}

header#cabecalho h1 {
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: rgb(64, 71, 78);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2 {
    font-family:  sans-serif;
    color: rgb(82, 88, 95);
    padding: 0px;
    margin-top: 0px;
}

/* Formatação de imagens com legendas*/
figure.foto-legenda {
    position: relative;
    border: 8px solid silver;
    box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img {
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: linear 1s;
}

figure.foto-legenda:hover figcaption {
    opacity: 1;
}
/*Formatação do Menu*/
nav#menu {
    display: block;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 500px;
}

nav#menu li {
    display: inline-block;
    background-color: silver;
    padding: 10px;
    margin: 2px;
    transition: background-color 2s;
}

nav#menu li:hover {
    background-color: rgb(74, 80, 85);
}

nav#menu h1 {
    display: none;
}

nav#menu a {
    color: black;
    text-decoration: none;    
}

nav#menu a:hover { color: white;} 

section#corpo { 
    display: block;
    width: 500px;
    float: left;
    border-right: 3px solid silver;
    padding: 10px;
}

table#tabelaspec {
    border: 2px solid silver;
    background-color: slategrey;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

table#tabelaspec td {
    border: 1px solid rgb(64, 71, 78);
    background-color: slategrey;
    border-spacing: 0px;
    padding: 10px;
}

table#tabelaspec td.ce {
    text-align: right;
    color: white;
    background-color: rgb(64, 71, 78);
}

table#tabelaspec td.cd {
    text-align: left;
    color: black;
    background-color: rgb(128, 130, 133);
}

table#tabelaspec caption {
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 15px;
    font-weight: bolder;
    border: 1px solid  rgb(64, 71, 78);
    background-color: rgb(100, 107, 114);
}

table#tabelaspec caption span {
    display: block;
    float: right;
    color: black;
    font-size: 10pt;
    margin-top: 10px;
}

aside#lateral {
    display: block;
    width: 400px;
    float: right;
}

footer#rodape {
    clear: both;
    border-top: 3px solid silver;
}

footer#rodape p {
    text-align: center;
}